In [1]:
import pandas as pd

In [7]:
data = pd.read_csv("cust_seg.csv", low_memory=False)

In [9]:
data

,Unnamed: 0,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,...,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
3,3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
4,4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999996,999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,0
999997,999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999998,999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999999,999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 48 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1000000 non-null  int64
 1   fecha_dato             1000000 non-null  object
 2   ncodpers               1000000 non-null  int64
 3   ind_empleado           989218 non-null   object
 4   pais_residencia        989218 non-null   object
 5   sexo                   989214 non-null   object
 6   age                    1000000 non-null  object
 7   fecha_alta             989218 non-null   object
 8   ind_nuevo              989218 non-null   float64
 9   antiguedad             1000000 non-null  object
 10  indrel                 989218 non-null   float64
 11  ult_fec_cli_1t         1101 non-null     object
 12  indrel_1mes            989218 non-null   float64
 13  tiprel_1mes            989218 non-null   object
 14  indresi                989218 non-null   object
 15  indext                 989218 non-null   object
 16  conyuemp               178 non-null      object
 17  canal_entrada          989139 non-null   object
 18  indfall                989218 non-null   object
 19  tipodom                989218 non-null   float64
 20  cod_prov               982266 non-null   float64
 21  nomprov                982266 non-null   object
 22  ind_actividad_cliente  989218 non-null   float64
 23  renta                  824817 non-null   float64
 24  ind_ahor_fin_ult1      1000000 non-null  int64
 25  ind_aval_fin_ult1      1000000 non-null  int64
 26  ind_cco_fin_ult1       1000000 non-null  int64
 27  ind_cder_fin_ult1      1000000 non-null  int64
 28  ind_cno_fin_ult1       1000000 non-null  int64
 29  ind_ctju_fin_ult1      1000000 non-null  int64
 30  ind_ctma_fin_ult1      1000000 non-null  int64
 31  ind_ctop_fin_ult1      1000000 non-null  int64
 32  ind_ctpp_fin_ult1      1000000 non-null  int64
 33  ind_deco_fin_ult1      1000000 non-null  int64
 34  ind_deme_fin_ult1      1000000 non-null  int64
 35  ind_dela_fin_ult1      1000000 non-null  int64
 36  ind_ecue_fin_ult1      1000000 non-null  int64
 37  ind_fond_fin_ult1      1000000 non-null  int64
 38  ind_hip_fin_ult1       1000000 non-null  int64
 39  ind_plan_fin_ult1      1000000 non-null  int64
 40  ind_pres_fin_ult1      1000000 non-null  int64
 41  ind_reca_fin_ult1      1000000 non-null  int64
 42  ind_tjcr_fin_ult1      1000000 non-null  int64
 43  ind_valo_fin_ult1      1000000 non-null  int64
 44  ind_viv_fin_ult1       1000000 non-null  int64
 45  ind_nomina_ult1        994598 non-null   float64
 46  ind_nom_pens_ult1      994598 non-null   float64
 47  ind_recibo_ult1        1000000 non-null  int64
dtypes: float64(9), int64(24), object(15)
memory usage: 366.2+ MB

In [23]:
#we can remove column 'Unnamed:0', as it is same as indices..

In [17]:
# Remove the column 
data.drop('Unnamed: 0', axis=1, inplace=True)

In [21]:
#We can change the column names to something meaningful

In [25]:
# Dictionary mapping original column names to new descriptive names
column_mapping = {
    'fecha_dato': 'data_partition_date',
    'ncodpers': 'customer_id',
    'ind_empleado': 'employee_status',
    'pais_residencia': 'residence_country',
    'sexo': 'gender',
    'age': 'customer_age',
    'fecha_alta': 'contract_start_date',
    'ind_nuevo': 'new_customer_index',
    'antiguedad': 'customer_seniority_months',
    'indrel': 'primary_customer_status',
    'ult_fec_cli_1t': 'last_primary_customer_date',
    'indrel_1mes': 'start_of_month_customer_type',
    'tiprel_1mes': 'start_of_month_customer_relation',
    'indresi': 'residence_index',
    'indext': 'foreigner_index',
    'conyuemp': 'spouse_employee_index',
    'canal_entrada': 'customer_joining_channel',
    'indfall': 'deceased_index',
    'tipodom': 'address_type',
    'cod_prov': 'province_code',
    'nomprov': 'province_name',
    'ind_actividad_cliente': 'customer_activity_index',
    'renta': 'household_income',
    'ind_ahor_fin_ult1': 'saving_account_status',
    'ind_aval_fin_ult1': 'guarantees_status',
    'ind_cco_fin_ult1': 'current_account_status',
    'ind_cder_fin_ult1': 'derivada_account_status',
    'ind_cno_fin_ult1': 'payroll_account_status',
    'ind_ctju_fin_ult1': 'junior_account_status',
    'ind_ctma_fin_ult1': 'mas_particular_account_status',
    'ind_ctop_fin_ult1': 'particular_account_status',
    'ind_ctpp_fin_ult1': 'particular_plus_account_status',
    'ind_deco_fin_ult1': 'short_term_deposit_status',
    'ind_deme_fin_ult1': 'medium_term_deposit_status',
    'ind_dela_fin_ult1': 'long_term_deposit_status',
    'ind_ecue_fin_ult1': 'e_account_status',
    'ind_fond_fin_ult1': 'funds_status',
    'ind_hip_fin_ult1': 'mortgage_status',
    'ind_plan_fin_ult1': 'pensions_status',
    'ind_pres_fin_ult1': 'loans_status',
    'ind_reca_fin_ult1': 'taxes_status',
    'ind_tjcr_fin_ult1': 'credit_card_status',
    'ind_valo_fin_ult1': 'securities_status',
    'ind_viv_fin_ult1': 'home_account_status',
    'ind_nomina_ult1': 'payroll_status',
    'ind_nom_pens_ult1': 'pensions_status_last_month',
    'ind_recibo_ult1': 'direct_debit_status'
}

# Rename the columns in the DataFrame
data.rename(columns=column_mapping, inplace=True)

In [27]:
data.head(5)

,data_partition_date,customer_id,employee_status,residence_country,gender,customer_age,contract_start_date,new_customer_index,customer_seniority_months,primary_customer_status,...,mortgage_status,pensions_status,loans_status,taxes_status,credit_card_status,securities_status,home_account_status,payroll_status,pensions_status_last_month,direct_debit_status
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [29]:
data.isnull().sum()

data_partition_date                      0
customer_id                              0
employee_status                      10782
residence_country                    10782
gender                               10786
customer_age                             0
contract_start_date                  10782
new_customer_index                   10782
customer_seniority_months                0
primary_customer_status              10782
last_primary_customer_date          998899
start_of_month_customer_type         10782
start_of_month_customer_relation     10782
residence_index                      10782
foreigner_index                      10782
spouse_employee_index               999822
customer_joining_channel             10861
deceased_index                       10782
address_type                         10782
province_code                        17734
province_name                        17734
customer_activity_index              10782
household_income                    175183
saving_account_status                    0
guarantees_status                        0
current_account_status                   0
derivada_account_status                  0
payroll_account_status                   0
junior_account_status                    0
mas_particular_account_status            0
particular_account_status                0
particular_plus_account_status           0
short_term_deposit_status                0
medium_term_deposit_status               0
long_term_deposit_status                 0
e_account_status                         0
funds_status                             0
mortgage_status                          0
pensions_status                          0
loans_status                             0
taxes_status                             0
credit_card_status                       0
securities_status                        0
home_account_status                      0
payroll_status                        5402
pensions_status_last_month            5402
direct_debit_status                      0
dtype: int64

In [35]:
# Calculate the percentage of null values in each column
print(data.isnull().mean() * 100)

data_partition_date                  0.0000
customer_id                          0.0000
employee_status                      1.0782
residence_country                    1.0782
gender                               1.0786
customer_age                         0.0000
contract_start_date                  1.0782
new_customer_index                   1.0782
customer_seniority_months            0.0000
primary_customer_status              1.0782
last_primary_customer_date          99.8899
start_of_month_customer_type         1.0782
start_of_month_customer_relation     1.0782
residence_index                      1.0782
foreigner_index                      1.0782
spouse_employee_index               99.9822
customer_joining_channel             1.0861
deceased_index                       1.0782
address_type                         1.0782
province_code                        1.7734
province_name                        1.7734
customer_activity_index              1.0782
household_income                    17.5183
saving_account_status                0.0000
guarantees_status                    0.0000
current_account_status               0.0000
derivada_account_status              0.0000
payroll_account_status               0.0000
junior_account_status                0.0000
mas_particular_account_status        0.0000
particular_account_status            0.0000
particular_plus_account_status       0.0000
short_term_deposit_status            0.0000
medium_term_deposit_status           0.0000
long_term_deposit_status             0.0000
e_account_status                     0.0000
funds_status                         0.0000
mortgage_status                      0.0000
pensions_status                      0.0000
loans_status                         0.0000
taxes_status                         0.0000
credit_card_status                   0.0000
securities_status                    0.0000
home_account_status                  0.0000
payroll_status                       0.5402
pensions_status_last_month           0.5402
direct_debit_status                  0.0000
dtype: float64

In [37]:
#We can remove the columns with null values greater than 50-60%, we do have two columns with very high null values,
#As these columns do not serve any purpose towards our segmentation..

In [39]:
data.drop(columns=['last_primary_customer_date', 'spouse_employee_index'], inplace=True)

In [61]:
#We can see a column with 17% values of it missing i.e. "household income"

In [67]:
#It's no way we can put dummy values into household income column, it can skew the graph, better to get rid of them than to put in 
#-------- "false" values

In [69]:
data.dropna(subset=['household_income'], inplace=True)

In [79]:
data.isnull().sum()

data_partition_date                  0
customer_id                          0
employee_status                      0
residence_country                    0
gender                               0
customer_age                         0
contract_start_date                  0
new_customer_index                   0
customer_seniority_months            0
primary_customer_status              0
start_of_month_customer_type         0
start_of_month_customer_relation     0
residence_index                      0
foreigner_index                      0
customer_joining_channel            68
deceased_index                       0
address_type                         0
province_code                        8
province_name                        8
customer_activity_index              0
household_income                     0
saving_account_status                0
guarantees_status                    0
current_account_status               0
derivada_account_status              0
payroll_account_status               0
junior_account_status                0
mas_particular_account_status        0
particular_account_status            0
particular_plus_account_status       0
short_term_deposit_status            0
medium_term_deposit_status           0
long_term_deposit_status             0
e_account_status                     0
funds_status                         0
mortgage_status                      0
pensions_status                      0
loans_status                         0
taxes_status                         0
credit_card_status                   0
securities_status                    0
home_account_status                  0
payroll_status                      78
pensions_status_last_month          78
direct_debit_status                  0
dtype: int64

In [75]:
#Let's inspect the remaining columns with null values

In [99]:
data['customer_joining_channel'].unique()

array(['KHL', 'KHE', 'KHD', 'KFA', 'KFC', 'KAT', 'RED', 'KAZ', 'KHC',
       'KHK', 'KHM', 'KHO', 'KDH', 'KEH', 'KAD', 'KBG', 'KGC', nan, 'KHF',
       'KFK', 'KHN', 'KHA', 'KAF', 'KGX', 'KFD', 'KAG', 'KFG', 'KAB',
       'KCC', 'KAE', 'KAH', 'KAR', 'KFJ', 'KFU', 'KAQ', 'KFS', 'KAA',
       'KFP', 'KAJ', 'KFN', 'KGV', 'KGY', 'KAP', 'KFF', 'KFL', 'KAI',
       'KDE', 'KFV', '013', 'K00', 'KAK', 'KCK', 'KCL', 'KAY', 'KBU',
       'KDR', 'KDT', 'KCG', 'KDO', 'KBQ', 'KDA', 'KBO', 'KEC', 'KES',
       'KBZ', 'KAS', '007', 'KEU', 'KCA', 'KAL', 'KDC', 'KAW', 'KCI',
       'KAC', 'KCS', 'KCB', 'KDU', 'KDQ', 'KCN', 'KCM', '004', 'KCH',
       'KCD', 'KCE', 'KDY', 'KEA', 'KBL', 'KBH', 'KDV', 'KFT', 'KEY',
       'KAO', 'KEJ', 'KEO', 'KEV', 'KEI', 'KEW', 'KDZ', 'KBV', 'KBR',
       'KBF', 'KDP', 'KCO', 'KCF', 'KCV', 'KAM', 'KBD', 'KAN', 'KBY',
       'KDX', 'KDD', 'KBW', 'KBX', 'KCU', 'KDB', 'KBS', 'KBE', 'KCX',
       'KBP', 'KEB', 'KDS', 'KEL', 'KDG', 'KDF', 'KEF', 'KCP', 'KDM',
       'KBB', 'KEZ', 'KBJ', 'KFI', 'KBM', 'KDW', 'KEG', 'KEN', 'KEQ',
       'KAV', 'KFH', 'KAU', 'KED', 'KEK', 'KGW', 'KFM', 'KFE', 'KGU',
       'KDI', 'KFB', 'KDN', 'KCR', 'KCQ', 'KEM', 'KEE', 'KCJ'],
      dtype=object)

In [101]:
#Every entry is unique in the above column removing the Nan values from the column seems correct

In [103]:
data.dropna(subset=['customer_joining_channel'], inplace=True)

In [109]:
data['province_code'].unique()

array([29., 13., 50., 45., 24., 10., 49., 37., 22.,  5., 40., 27.,  8.,
       28.,  3., 42., 41., 39.,  7., 47., 36., 46., 44., 15., 32., 23.,
       17., 26.,  2.,  9., 30., 11.,  6., 16.,  4., 19., 34., 12., 35.,
       14., 25., 21., 18., 33., 38., 52., 43., 51., 31., 20., nan, 48.])

In [113]:
data['province_name']

0              MALAGA
1         CIUDAD REAL
2         CIUDAD REAL
3            ZARAGOZA
5              TOLEDO
             ...
999995         MADRID
999996      CORUÑA, A
999997      CORUÑA, A
999998         MADRID
999999          CADIZ
Name: province_name, Length: 824749, dtype: object

In [115]:
#Same goes with other columns: taking a look at them, we just cannot put any place-holder values in any of them..

In [117]:
data = data.dropna()

In [121]:
data.isna().sum()

data_partition_date                 0
customer_id                         0
employee_status                     0
residence_country                   0
gender                              0
customer_age                        0
contract_start_date                 0
new_customer_index                  0
customer_seniority_months           0
primary_customer_status             0
start_of_month_customer_type        0
start_of_month_customer_relation    0
residence_index                     0
foreigner_index                     0
customer_joining_channel            0
deceased_index                      0
address_type                        0
province_code                       0
province_name                       0
customer_activity_index             0
household_income                    0
saving_account_status               0
guarantees_status                   0
current_account_status              0
derivada_account_status             0
payroll_account_status              0
junior_account_status               0
mas_particular_account_status       0
particular_account_status           0
particular_plus_account_status      0
short_term_deposit_status           0
medium_term_deposit_status          0
long_term_deposit_status            0
e_account_status                    0
funds_status                        0
mortgage_status                     0
pensions_status                     0
loans_status                        0
taxes_status                        0
credit_card_status                  0
securities_status                   0
home_account_status                 0
payroll_status                      0
pensions_status_last_month          0
direct_debit_status                 0
dtype: int64

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824680 entries, 0 to 999999
Data columns (total 45 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   data_partition_date               824680 non-null  object
 1   customer_id                       824680 non-null  int64
 2   employee_status                   824680 non-null  object
 3   residence_country                 824680 non-null  object
 4   gender                            824680 non-null  object
 5   customer_age                      824680 non-null  object
 6   contract_start_date               824680 non-null  object
 7   new_customer_index                824680 non-null  float64
 8   customer_seniority_months         824680 non-null  object
 9   primary_customer_status           824680 non-null  float64
 10  start_of_month_customer_type      824680 non-null  float64
 11  start_of_month_customer_relation  824680 non-null  object
 12  residence_index                   824680 non-null  object
 13  foreigner_index                   824680 non-null  object
 14  customer_joining_channel          824680 non-null  object
 15  deceased_index                    824680 non-null  object
 16  address_type                      824680 non-null  float64
 17  province_code                     824680 non-null  float64
 18  province_name                     824680 non-null  object
 19  customer_activity_index           824680 non-null  float64
 20  household_income                  824680 non-null  float64
 21  saving_account_status             824680 non-null  int64
 22  guarantees_status                 824680 non-null  int64
 23  current_account_status            824680 non-null  int64
 24  derivada_account_status           824680 non-null  int64
 25  payroll_account_status            824680 non-null  int64
 26  junior_account_status             824680 non-null  int64
 27  mas_particular_account_status     824680 non-null  int64
 28  particular_account_status         824680 non-null  int64
 29  particular_plus_account_status    824680 non-null  int64
 30  short_term_deposit_status         824680 non-null  int64
 31  medium_term_deposit_status        824680 non-null  int64
 32  long_term_deposit_status          824680 non-null  int64
 33  e_account_status                  824680 non-null  int64
 34  funds_status                      824680 non-null  int64
 35  mortgage_status                   824680 non-null  int64
 36  pensions_status                   824680 non-null  int64
 37  loans_status                      824680 non-null  int64
 38  taxes_status                      824680 non-null  int64
 39  credit_card_status                824680 non-null  int64
 40  securities_status                 824680 non-null  int64
 41  home_account_status               824680 non-null  int64
 42  payroll_status                    824680 non-null  float64
 43  pensions_status_last_month        824680 non-null  float64
 44  direct_debit_status               824680 non-null  int64
dtypes: float64(9), int64(23), object(13)
memory usage: 289.4+ MB

In [125]:
#Also we should convert the datatype of all the columns to its appropriate type

In [135]:
data.loc[:, 'data_partition_date'] = pd.to_datetime(data['data_partition_date'])

In [187]:
data['employee_status'].unique()

array(['N', 'A', 'F', 'B', 'S'], dtype=object)

In [189]:
#from the given information we have N, A, F, B, P but we don't have S

In [151]:
data.loc[:, 'employee_status'] = data['employee_status'].astype(str)

In [185]:
data[data['employee_status'] == 'S']

,data_partition_date,customer_id,employee_status,residence_country,gender,customer_age,contract_start_date,new_customer_index,customer_seniority_months,primary_customer_status,...,mortgage_status,pensions_status,loans_status,taxes_status,credit_card_status,securities_status,home_account_status,payroll_status,pensions_status_last_month,direct_debit_status
487513,2015-01-28,720152,S,ES,H,38,2007-09-21,0.0,94,1.0,...,0,1,0,0,0,1,0,1.0,1.0,1
779976,2015-02-28,720152,S,ES,H,38,2007-09-21,0.0,94,1.0,...,0,1,0,0,0,1,0,1.0,1.0,1

In [ ]:
#We don't really know if it is typo, but rather than invalid information lets just remove them

In [191]:
# Drop rows where 'employee_status' is 'S' using boolean indexing
data = data.drop(data[data['employee_status'] == 'S'].index)

In [199]:
data['residence_country'].unique()

array(['ES', 'IT', 'DE', 'BO', 'PY'], dtype=object)

In [201]:
data.loc[:, 'residence_country'] = data['residence_country'].astype(str)

In [203]:
data['gender'].unique()

array(['H', 'V'], dtype=object)

In [205]:
data.loc[:, 'gender'] = data['gender'].astype(str)

In [207]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 824678 entries, 0 to 999999
Data columns (total 45 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   data_partition_date               824678 non-null  datetime64[ns]
 1   customer_id                       824678 non-null  int64
 2   employee_status                   824678 non-null  object
 3   residence_country                 824678 non-null  object
 4   gender                            824678 non-null  object
 5   customer_age                      824678 non-null  object
 6   contract_start_date               824678 non-null  object
 7   new_customer_index                824678 non-null  float64
 8   customer_seniority_months         824678 non-null  object
 9   primary_customer_status           824678 non-null  float64
 10  start_of_month_customer_type      824678 non-null  float64
 11  start_of_month_customer_relation  824678 non-null  object
 12  residence_index                   824678 non-null  object
 13  foreigner_index                   824678 non-null  object
 14  customer_joining_channel          824678 non-null  object
 15  deceased_index                    824678 non-null  object
 16  address_type                      824678 non-null  float64
 17  province_code                     824678 non-null  float64
 18  province_name                     824678 non-null  object
 19  customer_activity_index           824678 non-null  float64
 20  household_income                  824678 non-null  float64
 21  saving_account_status             824678 non-null  int64
 22  guarantees_status                 824678 non-null  int64
 23  current_account_status            824678 non-null  int64
 24  derivada_account_status           824678 non-null  int64
 25  payroll_account_status            824678 non-null  int64
 26  junior_account_status             824678 non-null  int64
 27  mas_particular_account_status     824678 non-null  int64
 28  particular_account_status         824678 non-null  int64
 29  particular_plus_account_status    824678 non-null  int64
 30  short_term_deposit_status         824678 non-null  int64
 31  medium_term_deposit_status        824678 non-null  int64
 32  long_term_deposit_status          824678 non-null  int64
 33  e_account_status                  824678 non-null  int64
 34  funds_status                      824678 non-null  int64
 35  mortgage_status                   824678 non-null  int64
 36  pensions_status                   824678 non-null  int64
 37  loans_status                      824678 non-null  int64
 38  taxes_status                      824678 non-null  int64
 39  credit_card_status                824678 non-null  int64
 40  securities_status                 824678 non-null  int64
 41  home_account_status               824678 non-null  int64
 42  payroll_status                    824678 non-null  float64
 43  pensions_status_last_month        824678 non-null  float64
 44  direct_debit_status               824678 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(23), object(12)
memory usage: 289.4+ MB

In [209]:
data['customer_age'].unique()

array([' 35', ' 23', ' 22', ' 65', ' 24', ' 28', ' 25', ' 26', ' 53',
       ' 27', ' 32', ' 37', ' 31', ' 39', ' 63', ' 33', ' 55', ' 42',
       ' 38', ' 50', ' 30', ' 45', ' 44', ' 36', ' 29', ' 60', ' 57',
       ' 67', ' 47', ' 34', ' 48', ' 46', ' 54', ' 84', ' 15', ' 12',
       '  8', '  6', ' 83', ' 77', ' 69', ' 52', ' 59', ' 43', ' 10',
       '  9', ' 49', ' 41', ' 58', ' 40', ' 51', ' 78', ' 16', ' 73',
       ' 66', ' 62', ' 17', ' 68', ' 82', ' 95', ' 96', ' 56', ' 61',
       ' 79', ' 72', ' 14', ' 11', ' 19', ' 13', ' 86', ' 64', ' 20',
       ' 71', '  7', ' 70', ' 74', ' 21', ' 18', ' 75', '  4', '  5',
       ' 81', ' 80', ' 76', ' 92', ' 89', ' 85', ' 91', ' 87', ' 90',
       ' 94', ' 99', ' 93', ' 98', ' 88', ' 97', '100', '106', '103',
       '101', '  3', '  2', '102', '104', '107', '109', '105', '112',
       '110', '116', '108', '115', '111', '113'], dtype=object)

In [211]:
#The minimum age to open a bank account is typically 18 years, 
#but minors can open joint or custodial accounts, often starting from ages 13-16.

In [213]:
#The presence of ages like 3, 4, 5, etc., in dataset, 
#those might represent joint accounts, custodial accounts, or simply outliers or errors in the data.

In [217]:
# Convert 'customer_age' to numeric
data['customer_age'] = pd.to_numeric(data['customer_age'])

In [223]:
#Removing the outliers

In [225]:
data = data[(data['customer_age'] >= 13) & (data['customer_age'] <= 100)]

In [227]:
data['customer_age'].unique()

array([ 35,  23,  22,  65,  24,  28,  25,  26,  53,  27,  32,  37,  31,
        39,  63,  33,  55,  42,  38,  50,  30,  45,  44,  36,  29,  60,
        57,  67,  47,  34,  48,  46,  54,  84,  15,  83,  77,  69,  52,
        59,  43,  49,  41,  58,  40,  51,  78,  16,  73,  66,  62,  17,
        68,  82,  95,  96,  56,  61,  79,  72,  14,  19,  13,  86,  64,
        20,  71,  70,  74,  21,  18,  75,  81,  80,  76,  92,  89,  85,
        91,  87,  90,  94,  99,  93,  98,  88,  97, 100])

In [241]:
data.loc[:, 'contract_start_date'] = pd.to_datetime(data['contract_start_date']).dt.date

In [245]:
data['new_customer_index'].unique()

array([0., 1.])

In [249]:
# Convert a float column to int
data.loc[:, 'new_customer_index'] = data['new_customer_index'].astype(int)

In [273]:
data['new_customer_index'] = pd.to_numeric(data['new_customer_index'])

/var/folders/17/w4njhprj1gs4_s6cgfv7tn900000gn/T/ipykernel_12655/2537677583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['new_customer_index'] = pd.to_numeric(data['new_customer_index'])

In [253]:
data['customer_seniority_months'].unique()

array(['      6', '     35', '     34', '     33', '     31', '     21',
       '     27', '      9', '     22', '     13', '     29', '      8',
       '     11', '     10', '     28', '     24', '     25', '     14',
       '     26', '     12', '     16', '     23', '      7', '      1',
       '     18', '      4', '      3', '     17', '     32', '     30',
       '     20', '    157', '     36', '     40', '     19', '     38',
       '     37', '     39', '     15', '      5', '     47', '     44',
       '     42', '     46', '     45', '     43', '      0', '     41',
       '     57', '     52', '     49', '     50', '     56', '     58',
       '     51', '     48', '     55', '     54', '     53', '     59',
       '     62', '     61', '     60', '     63', '      2', '    139',
       '    165', '    118', '    164', '    159', '    143', '    105',
       '    151', '    162', '    137', '    150', '    128', '    122',
       '    156', '    119', '    160', '     79', '     95', '    132',
       '    161', '    127', '     72', '    155', '    108', '    163',
       '    102', '    148', '    115', '    146', '    107', '     81',
       '    135', '     92', '    121', '    198', '    134', '    140',
       '    110', '    120', '    147', '    116', '     64', '     77',
       '     85', '     99', '     78', '     94', '    113', '    154',
       '    133', '    124', '    141', '     66', '    117', '     86',
       '    193', '    144', '     87', '    126', '    158', '    101',
       '    235', '    145', '    103', '    149', '    109', '    131',
       '     97', '    166', '     68', '     84', '    232', '    125',
       '    177', '    112', '     69', '    171', '    142', '    104',
       '     76', '     82', '     70', '    138', '    169', '     65',
       '    129', '    100', '    114', '    176', '    153', '     89',
       '    136', '     80', '     83', '    123', '    187', '    106',
       '    231', '    189', '    111', '     88', '    217', '    172',
       '    173', '    167', '    174', '    209', '    180', '     93',
       '    152', '    216', '     98', '     91', '    199', '    168',
       '     96', '    130', '    225', '     67', '    178', '     73',
       '    183', '     74', '    206', '     71', '    179', '    184',
       '    192', '    190', '     90', '    194', '    182', '    185',
       '    195', '    186', '    207', '    208', '     75', '    175',
       '    201', '    203', '    212', '    215', '    170', '    228',
       '    214', '    202', '    196', '    181', '    191', '    200',
       '    188', '    227', '    219', '    226', '    205', '    224',
       '    210', '    242', '    223', '    233', '    220', '    218',
       '    222', '    241', '    204', '    211', '    197', '    213',
       '    237', '    221', '    229', '    234', '    240', '    243',
       '    230', '    238', '    246', '    236', '    244', '    239',
       '    245', '-999999'], dtype=object)

In [259]:
data.loc[:, 'customer_seniority_months'] = data['customer_seniority_months'].astype(int)

In [275]:
data['customer_seniority_months'] = pd.to_numeric(data['customer_seniority_months'])

/var/folders/17/w4njhprj1gs4_s6cgfv7tn900000gn/T/ipykernel_12655/2303666208.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['customer_seniority_months'] = pd.to_numeric(data['customer_seniority_months'])

In [ ]:
#Let's remove the oulier -999999

In [281]:
# Drop rows where 'employee_status' is 'S' using boolean indexing
data = data.drop(data[data['customer_seniority_months'] == -999999].index)

In [287]:
data['primary_customer_status'].unique()

array([ 1., 99.])

In [289]:
data['start_of_month_customer_type'].unique()

array([1., 3.])

In [297]:
data['start_of_month_customer_relation'].unique()

array(['A', 'I', 'P'], dtype=object)

In [303]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819584 entries, 0 to 999999
Data columns (total 45 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   data_partition_date               819584 non-null  datetime64[ns]
 1   customer_id                       819584 non-null  int64
 2   employee_status                   819584 non-null  object
 3   residence_country                 819584 non-null  object
 4   gender                            819584 non-null  object
 5   customer_age                      819584 non-null  int64
 6   contract_start_date               819584 non-null  object
 7   new_customer_index                819584 non-null  int64
 8   customer_seniority_months         819584 non-null  int64
 9   primary_customer_status           819584 non-null  float64
 10  start_of_month_customer_type      819584 non-null  float64
 11  start_of_month_customer_relation  819584 non-null  object
 12  residence_index                   819584 non-null  object
 13  foreigner_index                   819584 non-null  object
 14  customer_joining_channel          819584 non-null  object
 15  deceased_index                    819584 non-null  object
 16  address_type                      819584 non-null  float64
 17  province_code                     819584 non-null  float64
 18  province_name                     819584 non-null  object
 19  customer_activity_index           819584 non-null  float64
 20  household_income                  819584 non-null  float64
 21  saving_account_status             819584 non-null  int64
 22  guarantees_status                 819584 non-null  int64
 23  current_account_status            819584 non-null  int64
 24  derivada_account_status           819584 non-null  int64
 25  payroll_account_status            819584 non-null  int64
 26  junior_account_status             819584 non-null  int64
 27  mas_particular_account_status     819584 non-null  int64
 28  particular_account_status         819584 non-null  int64
 29  particular_plus_account_status    819584 non-null  int64
 30  short_term_deposit_status         819584 non-null  int64
 31  medium_term_deposit_status        819584 non-null  int64
 32  long_term_deposit_status          819584 non-null  int64
 33  e_account_status                  819584 non-null  int64
 34  funds_status                      819584 non-null  int64
 35  mortgage_status                   819584 non-null  int64
 36  pensions_status                   819584 non-null  int64
 37  loans_status                      819584 non-null  int64
 38  taxes_status                      819584 non-null  int64
 39  credit_card_status                819584 non-null  int64
 40  securities_status                 819584 non-null  int64
 41  home_account_status               819584 non-null  int64
 42  payroll_status                    819584 non-null  float64
 43  pensions_status_last_month        819584 non-null  float64
 44  direct_debit_status               819584 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(26), object(10)
memory usage: 287.6+ MB

In [301]:
data['residence_index'].unique()

array(['S', 'N'], dtype=object)

In [305]:
data['foreigner_index'].unique()

array(['N', 'S'], dtype=object)

In [307]:
data['customer_joining_channel'].unique()

array(['KHL', 'KHE', 'KHD', 'KFA', 'KFC', 'KAT', 'RED', 'KAZ', 'KHC',
       'KHK', 'KHM', 'KHO', 'KDH', 'KEH', 'KAD', 'KBG', 'KGC', 'KHF',
       'KFK', 'KHA', 'KGX', 'KFD', 'KAG', 'KFG', 'KAB', 'KCC', 'KAE',
       'KAH', 'KAR', 'KFJ', 'KFU', 'KAQ', 'KHN', 'KFS', 'KAA', 'KFP',
       'KAJ', 'KFN', 'KGV', 'KGY', 'KAP', 'KFF', 'KFL', 'KAI', 'KDE',
       'KFV', '013', 'K00', 'KAK', 'KCK', 'KCL', 'KAY', 'KBU', 'KDR',
       'KDT', 'KCG', 'KDO', 'KBQ', 'KDA', 'KBO', 'KEC', 'KES', 'KBZ',
       'KAS', '007', 'KEU', 'KCA', 'KAL', 'KDC', 'KAW', 'KCI', 'KAF',
       'KAC', 'KCS', 'KCB', 'KDU', 'KDQ', 'KCN', 'KCM', '004', 'KCH',
       'KCD', 'KCE', 'KDY', 'KEA', 'KBL', 'KBH', 'KDV', 'KFT', 'KEY',
       'KAO', 'KEJ', 'KEO', 'KEV', 'KEI', 'KEW', 'KDZ', 'KBV', 'KBR',
       'KBF', 'KDP', 'KCO', 'KCF', 'KCV', 'KAM', 'KBD', 'KAN', 'KBY',
       'KDX', 'KDD', 'KBW', 'KBX', 'KCU', 'KDB', 'KBS', 'KBE', 'KCX',
       'KBP', 'KEB', 'KDS', 'KEL', 'KDG', 'KDF', 'KEF', 'KCP', 'KDM',
       'KBB', 'KEZ', 'KBJ', 'KFI', 'KBM', 'KDW', 'KEG', 'KEN', 'KEQ',
       'KAV', 'KFH', 'KAU', 'KED', 'KEK', 'KGW', 'KFM', 'KFE', 'KGU',
       'KDI', 'KFB', 'KDN', 'KCR', 'KCQ', 'KEM', 'KEE', 'KCJ'],
      dtype=object)

In [309]:
#We can see some irregular entries, but that won't matter..

In [311]:
data['deceased_index'].unique()

array(['N', 'S'], dtype=object)

In [313]:
data['address_type'].unique()

array([1.])

In [319]:
#If the column has only one unique value it cannot contribute towards segmentation with unique data-points

In [321]:
data.drop(columns='address_type', inplace=True)

In [325]:
data['province_code'].unique()

array([29., 13., 50., 45., 24., 10., 49., 37., 22.,  5., 40., 27.,  8.,
       28.,  3., 42., 41., 39.,  7., 47., 36., 46., 44., 15., 32., 23.,
       17., 26.,  2.,  9., 30., 11.,  6., 16.,  4., 19., 34., 12., 35.,
       14., 25., 21., 18., 33., 38., 52., 43., 51., 31., 20., 48.])

In [327]:
data['province_name'].unique()

array(['MALAGA', 'CIUDAD REAL', 'ZARAGOZA', 'TOLEDO', 'LEON', 'CACERES',
       'ZAMORA', 'SALAMANCA', 'HUESCA', 'AVILA', 'SEGOVIA', 'LUGO',
       'BARCELONA', 'MADRID', 'ALICANTE', 'SORIA', 'SEVILLA', 'CANTABRIA',
       'BALEARS, ILLES', 'VALLADOLID', 'PONTEVEDRA', 'VALENCIA', 'TERUEL',
       'CORUÑA, A', 'OURENSE', 'JAEN', 'GIRONA', 'RIOJA, LA', 'ALBACETE',
       'BURGOS', 'MURCIA', 'CADIZ', 'BADAJOZ', 'CUENCA', 'ALMERIA',
       'GUADALAJARA', 'PALENCIA', 'CASTELLON', 'PALMAS, LAS', 'CORDOBA',
       'LERIDA', 'HUELVA', 'GRANADA', 'ASTURIAS',
       'SANTA CRUZ DE TENERIFE', 'MELILLA', 'TARRAGONA', 'CEUTA',
       'NAVARRA', 'GIPUZKOA', 'BIZKAIA'], dtype=object)

In [329]:
data['customer_activity_index'].unique()

array([1., 0.])

In [335]:
data[data['household_income'] < 0]

Empty DataFrame
Columns: [data_partition_date, customer_id, employee_status, residence_country, gender, customer_age, contract_start_date, new_customer_index, customer_seniority_months, primary_customer_status, start_of_month_customer_type, start_of_month_customer_relation, residence_index, foreigner_index, customer_joining_channel, deceased_index, province_code, province_name, customer_activity_index, household_income, saving_account_status, guarantees_status, current_account_status, derivada_account_status, payroll_account_status, junior_account_status, mas_particular_account_status, particular_account_status, particular_plus_account_status, short_term_deposit_status, medium_term_deposit_status, long_term_deposit_status, e_account_status, funds_status, mortgage_status, pensions_status, loans_status, taxes_status, credit_card_status, securities_status, home_account_status, payroll_status, pensions_status_last_month, direct_debit_status]
Index: []

[0 rows x 44 columns]

In [339]:
#well we don't have any negative values.. for income

In [343]:
data['saving_account_status'].unique()

array([0, 1])

In [345]:
data['guarantees_status'].unique()

array([0, 1])

In [347]:
data['current_account_status'].unique()

array([1, 0])

In [349]:
data['derivada_account_status'].unique()

array([0, 1])

In [351]:
data['payroll_account_status'].unique()

array([0, 1])

In [353]:
data['junior_account_status'].unique()

array([0, 1])

In [355]:
data['mas_particular_account_status'].unique()

array([0, 1])

In [357]:
data['particular_account_status'].unique()

array([0, 1])

In [359]:
data['particular_plus_account_status'].unique()

array([0, 1])

In [361]:
data['short_term_deposit_status'].unique()

array([0, 1])

In [363]:
data['medium_term_deposit_status'].unique()

array([0, 1])

In [365]:
data['long_term_deposit_status'].unique()

array([0, 1])

In [367]:
data['e_account_status'].unique()

array([0, 1])

In [369]:
data['funds_status'].unique()

array([0, 1])

In [371]:
data['mortgage_status'].unique()

array([0, 1])

In [373]:
data['pensions_status'].unique()

array([0, 1])

In [375]:
data['loans_status'].unique()

array([0, 1])

In [377]:
data['taxes_status'].unique()

array([0, 1])

In [379]:
data['credit_card_status'].unique()

array([0, 1])

In [381]:
data['securities_status'].unique()

array([0, 1])

In [383]:
data['home_account_status'].unique()

array([0, 1])

In [385]:
data['payroll_status'].unique()

array([0., 1.])

In [387]:
data['pensions_status_last_month'].unique()

array([0., 1.])

In [389]:
data['direct_debit_status'].unique()

array([0, 1])

In [391]:
#So far we have checked every column along with its unique values, checked for outliers and mislabeled entires and corrected..

In [393]:
#Also handled the datatypes of columns

In [395]:
data

,data_partition_date,customer_id,employee_status,residence_country,gender,customer_age,contract_start_date,new_customer_index,customer_seniority_months,primary_customer_status,...,mortgage_status,pensions_status,loans_status,taxes_status,credit_card_status,securities_status,home_account_status,payroll_status,pensions_status_last_month,direct_debit_status
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
5,2015-01-28,1050615,N,ES,H,23,2012-08-10,0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1

In [403]:
#Let's save our progress for phase-1

In [405]:
# Save the updated DataFrame to a CSV file
data.to_csv('phase-1.csv', index=False)